.title {
  text-align: center;
}

.board {
  padding: 0px 15px;
  text-align: center;
}

table {
  margin: auto;
}

.buttonWrapper-game {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin:0 auto;
  margin-bottom: 20px;
}